/* Default Style */
:root {
  --primary-color: #55C5E3;
  --secondary-color: #607786;
  --light-blue: #E0EEF1;
  --text-secondary: #798B94;
  --white: #fff;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-radius: 20px;
  --login-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text-primary {
  color: var(--primary-color) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito',
    sans-serif;
  font-size: 16px;
  background: var(--light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  transition: .3s ease-in-out;
  font-family: 'Nunito',
    sans-serif;
}

.bttn {
  width: 180px;
  height: 35px;
  border-radius: 50px;
  line-height: initial;
  text-transform: uppercase;
  font-size: 14px;

}

.bttn-outline {
  border: 1px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.bttn-outline:hover {
  border: 3px solid var(--primary-color);
  font-weight: 900;
}

.btn-text-outline {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.btn-text-outline:hover {
  border: 3px solid var(--primary-color);
  font-weight: 900;
}

.btnOne {
  z-index: 1;
  min-width: 180px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff !important;
  transition: .4s all ease;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  background: var(--primary-color);
  cursor: pointer;
  outline: 0;
  position: relative;
  overflow: hidden;
}

.btnOne:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all .5s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  background-color: #4CB1CC;
  border-radius: var(--border-radius);
}

.btnOne:hover:before {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);

}

/* Gradient Button */
.gradient-blue {
  background: rgb(85, 197, 227);
  background: linear-gradient(90deg, rgba(85, 197, 227, 1) 0%, rgba(224, 238, 241, 1) 100%);
}

.btn-gradient {
  width: 70%;
  height: 35px;
  background: linear-gradient(90deg, rgba(85, 197, 227, 1) 50%, rgba(224, 238, 241, 1) 100%);
  border: 0px transparent;
  border-radius: 0;
  color: var(--white);
  font-weight: bold !important;
  text-align: start;
  padding: 1px 6px;
  font-size: auto;
  margin-top: 4px;
  padding-left: 15px;
}

.btn.focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* ==============================================================-->< !--  DashBoard Navbar Css-->< !--==============================================================*/
body[data-sidebar=dark] .navbar-brand-box {
  background-color: #fff;
}

body[data-sidebar=dark] .mm-active {
  background-color: #fff;
}

#page-topbar {
  background-color: var(--secondary-color);
  color: #fff !important;
}

.header-item {
  color: #fff;
}

.header-item:hover {
  color: var(--primary-color);
}

.navbar-brand-box {
  padding: 0 10px;
}

.navbar-header .dropdown.show .header-item {
  background-color: transparent;
}

/* ===========< !--  Left Sidebar !--==============*/


/* Social Menu */
.metismenu .social-menu-list .social-menu>li>a,
.vertical-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 0 !important;
  background-color: var(--primary-color) !important;
  margin: 0 5px;
  text-align: center;

}

.metismenu .social-menu-list .social-menu>li>a>i,
.vertical-social-icon i {
  line-height: 2.3 !important;
}

.metismenu .social-menu-list .social-menu>li>a:hover {
  background-color: var(--secondary-color) !important;
}

.metismenu .social-menu-list .vertical-social-icon {
  display: none !important;
}

/* Vertical hover menu list */

body[data-sidebar=dark] .menu-title {
  color: var(--text-secondary);
}

#sidebar-menu ul li a {
  color: var(--secondary-color);
}

body[data-sidebar=dark] .mm-active .active {
  color: #000000 !important;
  background-color: var(--light-blue);
  position: relative;
}

body[data-sidebar=dark] .mm-active .active::before {
  position: absolute;
  content: "";
  background: var(--primary-color) !important;
  border: 3px solid var(--primary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  top: 0;
  left: 0;
}

body[data-sidebar=dark] .mm-active .active i {
  color: #000000 !important;
}

body[data-sidebar=dark] #sidebar-menu ul li a i {
  color: var(--secondary-color);
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover {
  color: #000000 !important;
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover i {
  color: #000000;

}

/* Box menu */

.metismenu li .menu-box {
  display: none;
}

.metismenu .refer-friend {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin: 25px 15px;
  padding: 0 5px;
}

.metismenu .refer-friend img {
  width: 60%;
}

.metismenu .refer-friend p {
  color: var(--text-secondary);
  font-size: 12px;
}

.menu-style a {
  background-color: var(--light-blue);
  width: 90% !important;
  border-radius: 10px;
  margin: auto;
  color: #000000 !important;
}

.menu-style a i {
  color: #000000 !important;
}

/* ===========< !-- Index Dashboard Body Box--==============*/

.card-box-img {
  background-color: var(--light-blue);
  border-radius: var(--border-radius);
  align-self: center;
}

.card-box-img img {
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--light-blue);
}

.card-btn .remote-icon {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  /* line-height: 2.3; */
}

.remote-icon img {
  width: 40%;
  margin: auto;
  margin-top: 8px;

}

/* Slick next prev */

.slick-next {
  right: 5px !important;
}

.slick-prev {
  left: 0 !important;
  z-index: 2;

}

.slick-next,
.slick-prev {
  top: 45% !important;

}

.slick-next:before,
.slick-prev:before {
  color: var(--secondary-color) !important;
  font-size: 25px !important;
}

/* ===========Profile Dashboard
==============*/
.profile-img img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  border: 4px solid var(--white);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

/* ===========
 Notification Dashboard
==============*/
.custom-nav .nav {
  background-color: var(--white);
  width: fit-content;
  border-radius: var(--border-radius);
}

.custom-nav .nav-pills .nav-link {
  min-width: 150px;
  text-align: center;
  transition: all 0s ease-in-out;
  text-transform: uppercase;
}

.custom-nav .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  min-width: 150px;
  text-align: center;
}

.notification-tab {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--login-box-shadow);

}

.notification-tab ul li {
  margin-left: 5px;
  padding: 5px;
  min-width: fit-content;
}

/* Box Info */
.cus-datatable span i {
  color: var(--primary-color);
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  margin: 0 15px;
}

.table-icon {
  margin-bottom: 0;
}

.table-icon li {
  margin-left: 10px;
  color: var(--secondary-color);
}

.table-icon li:hover {

  color: var(--primary-color);

}

.table td,
.table th {
  vertical-align: middle;
}

table.dataTable thead {
  background-color: var(--secondary-color);
  border-radius: 8px !important;
  color: var(--white);
  text-align: center;
}

table.dataTable {
  text-align: center;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
  background-color: var(--primary-color);
}

.page-item.disabled .page-link {
  background-color: var(--secondary-color);
}

.page-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  line-height: 1.8;

}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-bottom: 15px;
}

.sub-sec-up {
  margin-top: 5%;
}

.subcrip-sec-box .bttn {
  width: 120px !important;
}

.subcrip-sec-box .cus-dropdown .btnOne {
  min-width: auto !important;
}


.round-btn {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--white);
  border: 1px solid transparent;
  transition: .4s all ease;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  outline: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.round-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all .5s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  background-color: #4CB1CC;
  border-radius: 50%;
  color: var(--white);
}

.round-btn:hover::before {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.box-round-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;
}

.box-round-btn::before,
.box-round-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  width: 40px;
  height: 40px;
  padding: 0;
}

.spin:hover {
  color: var(--primary-color);
}

.spin::before,
.spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: var(--primary-color);
  border-right-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 2px solid var(--primary-color);
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}

.circle::before,
.circle::after {
  border-radius: 100%;
}

/* Modal Box */
.cus-modal .modal-content {
  border-radius: var(--border-radius);
}

.cus-modal .modal-title {
  font-weight: 900;
}

.cus-modal ul li {
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 5px;
}

.cus-modal ul li span {
  font-weight: normal;
  margin-left: 5px;
}

/* Dropdown */
.sub-sec-up .cus-dropdown .dropdown-menu {
  left: -300% !important;
}

.cus-dropdown .dropdown-menu {
  border-radius: 10px;
  min-width: 11rem;
  padding: 0.5rem 10px;
  box-shadow: var(--login-box-shadow);
}

.cus-dropdown .dropdown-item {
  padding: .35rem 1.5rem;
  margin: 5px 0;
  text-align: center;
  border-radius: 10px;
}

.cus-dropdown .dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.sub-sec-up .ICCards-dropdown .dropdown-menu {
  left: -120% !important;
}
/* ===========
Subscription Details
==============*/
/* .subcription-detail {} */


/* Collapsible style */

.accordion>.card>.card-header{
  border-radius: var(--border-radius) !important;
}
.accordion>.card:not(:last-of-type) {
  border-bottom: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.accordion>.card:not(:first-of-type) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.collapsible-link {
  width: 100%;
  position: relative;
  text-align: left;
}
.btn-link{
  text-decoration: none !important;
}
.btn-link:hover{
  text-decoration: none;
}

.collapsible-link::before {
  content: '\f107';
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
  content: '\f106';
}


/* FAQ */
.custom-nav
/* ===========
Footer+Login Footer
==============*/
.login-footer {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px 0;
}

.login-footer a {
  color: var(--primary-color);
}

.login-footer a:hover {
  color: var(--white);
}
/* add-box */
.modal-dialog {
  max-width: 750px;
  margin: 2rem auto;
}
.modal-dialog h3,h6{
  font-weight: 900;
}
.modal-dialog h5{
  font-weight: 900;
  margin-top: 3%;
  margin-bottom: 2%;
}
/* activites */
.list-unstyled .tag{
  min-width: 90px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 20px;
  text-align: center;
}

/* searchbar */
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  padding: 6px;
  place-content: "hello";
  }

  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 250;
  line-height:15px;
  
  }

  /* .searchbar:hover > .search_input{
  padding: 2px;
  width: 130px;
  
  
  } */
  #Activity .btn-gradient{
    width: 30%;
  }
  /* Add-box page */
  #OneTimeModal h3,label{
    font-weight: 900;
    color: #000000;
  }
  #OneTimeModal p{
    font-size:small;
  }
  #OneTimeModal .form-control{
    border-radius: var(--border-radius);
    border: 0;
    box-shadow: var(--login-box-shadow);
  }
  /* Rounded sliders */
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
  .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
   .slider {
      height: inherit;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #55C5E3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #55C5E3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    } 
    /* SettingsModal */
    #SettingsModal h3,label{
      font-weight: 900;
      color: #000000;
    }
    #SettingsModal p{
      font-size:small;
    }
    #SettingsModal .border-style {
      width: 100%;
      height: 1px;
     background-color:#ccc;
     margin-bottom: 3%;
    }

    #SettingsModal a{
      color: #55C5E3;
      margin-left: 20%;
    }
/* -- quantity box -- */

.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 50px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 35%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
   }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
 
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 0px 9px 0px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #55C5E3;
  cursor:pointer;
  width: 30px;
  color: #55C5E3;
  margin-left: 3%;
  margin-right: 3%;}
 
 .quantity.buttons_added .minus {
  border-radius: 100%; }
 
 .quantity.buttons_added .plus {
  border-radius: 100%; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }
 
 