 /* forgot pswd */

 #forgot_pswd h2, label{
     font-weight: 900;
     color: black;
 }
.bttn1 {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    line-height: initial;
    text-transform: uppercase;
    transition: .3s ease-in-out;
  }
  .bttn1-primary {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--white);
  }
  .bttn1:after{content: "proceed";}
  .bttn1:hover::after{content: "Log In";}
  .card-border {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  
  .sendOTP .btn{
    width: 150px;
    height: 35px;
    font-weight: bold;
    line-height: initial;
    text-transform: uppercase;
    transition: .3s ease-in-out;
  }
  .otp-modal .rounded {
    border-radius: 50% !important;
  }
  
  .otp-modal .otp-box {
    width: 40px;
    height: 40px;
    /* background-color: /white; */
    border: 4px solid white;
    box-shadow: rgb(105 115 125 / 44%) 0px 2px 15px;
  
  }
  
  .otp-box:hover,
  .otp-box:active,
  .otp-box::before,
  .otp-box::after {
    box-shadow: rgb(105 115 125 / 44%) 0px 2px 15px;
    border: none;
  }
  
  .otp-modal p {
    color: gray;
    font-size: small;
    text-align: center;
    margin: auto;
  }
  
  .otp-modal .btnOne {
    min-width: 150px;
    margin-top: 15px;
  }
  #forgot_pswd .bttn {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    font-weight: bold;
    line-height: initial;
    text-transform: uppercase;
    transition: .3s ease-in-out;
  }
  .bttn-primary {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--white);
  }
  
  .bttn-primary:hover {
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
   