/* //Extra Small devices (landscape phones, 576px and up) */

@media (min-width: 310px) and (max-width: 440.98px) {
  .icons {
    margin-left: -25%;
  }

  .owner-detail h5 {
    font-size: 14px;
  }

  .owner-detail p {
    font-size: 12px;
  }

  .notification-tab ul li {
    min-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;

  }

  .custom-nav .navbar {
    width: min-content;
    margin: auto;
  }

  .custom-nav .nav-pills .nav-item {
    margin: auto;
  }

}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .icons {
    margin-left: -13%;
  }

  .form-inline .form-control {
    margin-top: 5px !important;
  }

}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 750px;
    color: #000000;
  }
  .modal-dialog h3{
    color: #000000;
  }
#ContactUsModal .modal-dialog {
  max-width: 300px;
  border-radius: 50px;
}


#PasscodeOneTimeModal .modal-dialog {
    max-width: 550px;
}
#PasscodePermanentModal .modal-dialog {
  max-width: 550px;
}
#ViewModal .modal-dialog {
  max-width: 500px;
}
#OTPModal .modal-dialog {
  max-width: 250px;
}
#SetAdminModal .modal-dialog {
  max-width: 450px;
  box-shadow: rgba(99, 99, 99, 0.2) ;
}
#EkeyDeleteModal .modal-dialog {
  max-width: 350px;
  color: #000000;
}
#AddCardInfoModal .modal-dialog {
  max-width: 450px;
  border-radius: 50px;
}
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login-main .card {
    padding: 0;
  }

  .forgot-pass {
    max-width: 100% !important;
    flex: 0 0 100%;
    text-align: start !important;
  }

  .forgot-pass a {
    text-align: center;
  }

  .icons {
    margin-left: 56%;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .icons {
    margin-left: 57%;
  }

  .card-box-img {
    width: fit-content;
  }

}

/* // Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .card-box-img{
    width: 180px;
  }
  .owner-detail{
    margin-top: 3%;
  }
  .sub-sec-up {
    margin-top: 8%;
  }

}